<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/register/register.css">
</head>
<style>

</style>

<body>
    <div class="register-main">
        <div class="register-box">
            <div class="register-head">
                <h1>Hello， 请注册</h1>
            </div>
            <div class="register-form">
                <form class="lz-form">
                    <div class="lz-form-row">
                        <div class="lz-col-1 lz-form-item">
                            <label class="lz-form-item-label ">手机号</label>
                            <input class="lz-form-item-input " type="text" autocomplete="off">
                            <span class="lz-form-item-help"></span>
                        </div>
                    </div>
                    <div class="lz-form-row">
                        <div class="lz-col-2 lz-form-item">
                            <label class="lz-form-item-label">验证码</label>
                            <input class="lz-form-item-input " type="text" autocomplete="off">
                            <span class="lz-form-item-help"></span>
                        </div>
                        <div class="lz-col-1 lz-form-item get-phone-code" style="flex: 0.8;">
                            <button type="button" class="lz-btn lz-btn-primary">获取验证码</button>
                        </div>
                    </div>
                    <div class="lz-form-row">
                        <div class="lz-col-1 lz-form-item">
                            <label class="lz-form-item-label">密码</label>
                            <input class="lz-form-item-input " type="password" autocomplete="off">
                            <span class="lz-form-item-help"></span>
                        </div>
                    </div>
                    <div class="lz-form-row">
                        <div class="lz-col-1 lz-form-item">
                            <label class="lz-form-item-label">确认密码</label>
                            <input class="lz-form-item-input " type="password" autocomplete="off">
                            <span class="lz-form-item-help"></span>
                        </div>
                    </div>
                    <div class="lz-form-row register-btn">
                        <button type="button" class="lz-btn lz-btn-primary">注册</button>
                    </div>
                </form>
            </div>
            <div class="register-foot">
                <span>已存在账号，</span><a onclick="toLogin()">请登录</a>
            </div>
        </div>
    </div>
    <script>
        function toLogin() {
            location.href = '../login/login.html'
        }
    </script>
</body>

</html>