#index {
    display: flex;
    height: 100%;
}

.menu {
    flex: 1;
    width: auto !important;
    overflow-x: hidden !important;
    box-sizing: border-box;
    height: 100%;
    min-width: 120px;
    background: #2c2f43;
}

.menu::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.menu::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #f1f1f1;
}

.menu::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    background: #2c2f43;
}

.main {
    flex: 100;
    flex-basis: auto;
    height: 100%;
    box-sizing: border-box;
    min-width: 1200px;
    transition: width 1s;
}

.logo {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
}

.menu-list ul {
    margin: 0;
    padding: 0;
}

.menu-list-content {
    width: 120px;
}

.menu-list-content li {
    height: 70px;
    text-align: center;
    padding: 10px;
    list-style-type: none;
    font-size: 14px;
    color: #ffffff;
}

.menu-list-content li:hover {
    background-color: #2e69eb;
}

.menu-list-content h4 {
    margin-top: 10px;
    font-weight: normal;
}

.menu-list-content i {
    margin-top: 10px;
    font-size: 25px;
}

.head {
    height: 60px;
    width: 100%;
    background-color: #fff;
    line-height: 60px;
}

.name {
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
    display: inline-block;
}

.setting {
    float: right;
    margin-right: 20px;
    display: inline-block;
}

.setting span {
    width: 80px;
    padding: 10px;
    cursor: pointer;
}

.setting span:hover {
    color: #2e69eb;
}

.browsing-history {
    height: 30px;
    width: 100%;
    padding-top: 10px;
    text-indent: 5px;
}

.main-content {
    height: calc(100% - 100px);
    overflow: hidden;
}