html {
    overflow-y: hidden;
}

@media only screen and (min-width: 1400px) {
    .card-panel {
        width: 22.5%;
    }
}

@media only screen and (min-width: 1400px) {
    .card-panel {
        width: 22.5%;
    }
}

#registration {
    display: flex;
    padding: 20px 0;
    min-width: 1275px;
}

.reg-left {
    flex: 2;
    padding: 0 15px;
    border-right: 1px solid #ccc;
    min-width: 260px;
    padding-bottom: 30px;
}

.panel-content {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.reg-main {
    flex: 8;
    border-right: 1px solid #ccc;
    overflow: auto;
    position: relative;
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #EDEDED;
}

.reg-right {
    flex: 3;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.reg-left-head h3 {
    padding-bottom: 20px;
    color: #2e69eb;
    font-weight: 300px;
}

.reg-search-form label {
    min-width: 30px;
    text-align: left;
}

.confirm {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.confirm button {
    width: 100%;
    background-color: #ffffff;
    color: #2e69eb;
    border: 1px solid #2e69eb;
}

.confirm button:active {
    background-color: #2e69eb;
    color: #ffffff;
}

.visited {
    padding: 0 20px;
    height: 40px;
}

.diagnosis-form {
    padding: 20px 20px 0 20px;
}

.prescription-box {
    padding: 0 20px;
    margin-bottom: 10px;
}

.pr-select {
    margin-bottom: 20px;
    height: 40px;
}

.prescription-content {
    display: flex;
}

.pc-form {
    flex: 1;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.pc-page {
    flex: 1;
}

@media only screen and (max-width: 1500px) {
    .prescription-content {
        display: flex;
        flex-direction: column;
    }
    .pc-form {
        flex: 1;
        padding-right: 20px;
        border: 0;
    }
    .pc-page {
        border-top: 1px solid #ccc;
        flex: 1;
    }
    .pc-page-content h2 {
        padding-top: 20px;
    }
}

.pc-page-content {
    padding: 0 20px;
    height: 50%;
    border-bottom: 1px solid #ccc;
}

.page-head h2 {
    color: #2e69eb;
}

.page-text {
    padding: 20px;
}

.pc-page-money {
    padding: 20px;
    font-size: 15px;
    height: 50%;
    min-width: 300px;
}

.pc-page-money-span {
    margin-left: 20px;
    color: #2e69eb;
}

.surcharge-btn {
    padding: 20px 0;
}

.prescription-total-box {
    border-top: 1px solid #ccc;
    position: relative;
    padding: 5px 20px;
    height: 60px;
    line-height: 60px;
}

.prescription-total-box button:active {
    background-color: #2e69eb;
    color: #ffffff;
}

.reg-right-content {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 10px;
}

.detail {
    width: 100%;
    height: 75%;
    min-height: 150px;
    border: 1px solid #ccc;
    overflow: auto;
}

.reg-search-form input {
    width: calc(100% - 43px);
}

.reg-search-form .calendar-area {
    left: 42px;
}

.pc-ul {}

.pc-li {
    width: 100%;
    height: 50px;
}

.pcl-item {
    display: flex;
    height: 50px;
    line-height: 50px;
    border-left: 5px solid rgba(0, 0, 0, 0);
}

.pcl-item:hover {
    border-left: 5px solid #2e69eb;
    background-color: #f6f6f6;
}

.pcli-img {
    flex: 1;
    font-size: 25px;
    color: #535353;
    margin-left: 10px;
    color: #2e69eb;
}

.pcli-mess {
    flex: 3;
    display: flex;
    overflow: hidden;
    flex-flow: column;
    height: 50px;
}

.pcli-name {
    height: 25px;
    line-height: 25px;
}

.pcli-doc {
    height: 25px;
    line-height: 25px;
}

.pcli-date {
    flex: 2;
}

.prescrption-head {
    margin: 0 10px;
}

.prescrption-add {
    flex: 0.4;
    font-size: 20px;
    padding-left: 10px;
    transform: rotateY(180deg);
    color: #2e69eb;
    float: right;
}

.prescrption-add :hover {
    font-size: 22px;
}

.model-text {
    margin-left: 10px;
    flex: 3;
    overflow: hidden;
}

.model-text-add {
    flex: 1;
    font-size: 20px;
    transform: rotateY(180deg);
    color: #2e69eb;
    padding-left: 10px;
}

.model-text-add :hover {
    font-size: 22px;
}