* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;

    font-size: 12px;
}

body {
    height: 100%;
    width: 100%;
    background: #f1f1f1;
}

iframe {
    width: 100%;
    height: 99.5%;
    border: none;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #EDEDED;
}

.lz-btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.lz-btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.lz-btn-default:hover {
    color: #2e69eb;
}

.lz-btn-default:active {
    background-color: #2e69eb;
    color: #fff;
}

.lz-btn-primary {
    background-color: #2e69eb;
    color: #fff;
}

.lz-col-1 {
    width: 99.5%;
}

.lz-col-2 {
    width: 49.5%;
}

.lz-main{
    border-radius: 5px;
    background-color: #fff;
    padding: 15px 20px;
    margin: 0 10px 0 10px;
    height: 100%;
}

.lz-form {
    margin-bottom: 5px;
}

.lz-form-row {
    margin-bottom: 5px;
}

.lz-form-item {
    display: inline-block;
    height: 50px;
}

.lz-form-item-label {
    display: inline-block !important;
    display: inline;
    padding-right: 5px;
    font-size: 14px;
    min-width: 55px;
    text-align: right;
}

.lz-form-item-input {
    width: calc(100% - 70px);
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    line-height: 30px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    margin-bottom: 3px;
}

.lz-form-item-help {
    font-size: 10px;
    color: #ef4b4b;
    margin-left: 85px;
    margin-top: 5px;
}

.lz-form-head {
    display: inline-block !important;
    display: inline;
    margin: 5px 15px 20px 0;
    padding: 10px 20px;
    background-color: #2e69eb;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}