* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    font-size: 12px;
}

body {
    height: 100%;
    width: 100%;
    background: #f1f1f1;
}

iframe {
    width: 100%;
    height: 99.5%;
    border: none;
}


/* 滑动条 */

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #EDEDED;
}

.lz-left {
    float: left;
}

.lz-right {
    float: right;
}


/* 按钮 */

.lz-btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.lz-btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.lz-btn-default {
    background-color: #fff;
    color: #2e69eb;
}

.lz-btn-default:active {
    color: #2e69eb;
    border-color: #2e60eb;
}

.lz-btn-primary {
    background-color: #2e69eb;
    color: #fff;
}

.lz-btn-primary:active {
    background-color: #0F3B99;
}


/* 布局 */

.lz-col-1 {
    flex: 1;
}

.lz-col-2 {
    flex: 2;
}

.lz-main {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    margin: 0 10px 0 10px;
    height: 100%;
}


/* 表单 */

.lz-form {
    margin-bottom: 5px;
}

.lz-form-row {
    display: flex;
}

.lz-form-item {
    display: inline-block;
    height: 50px;
}

.lz-form-item-label {
    display: inline-block !important;
    display: inline;
    font-size: 13px;
    margin: 4.5px 8px;
    margin-right: 0px;
}

.lz-form-item-input {
    width: calc(100% - 70px);
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    line-height: 30px;
    outline: 0;
    padding: 0 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    float: right;
}

.lz-form-item-input:focus {
    border-color: #2e60eb;
}

.lz-form-item-help {
    font-size: 10px;
    color: #ef4b4b;
    margin-left: 75px;
}

.lz-form-head {
    display: inline-block !important;
    display: inline;
    margin: 5px 15px 20px 0;
    padding: 7px 15px;
    background-color: #2e69eb;
    color: #fff;
    text-align: center;
}

.lz-form-clear {
    margin: 10px 0 30px 0;
}

.lz-form-clear button {
    height: 25px;
    line-height: 23px;
    background-color: #fff;
    color: #2e60eb;
    border: 1px solid #2e60eb;
    padding: 0 10px;
}

.lz-form-clear button:hover {
    color: #2e69eb;
}

.lz-form-clear button:active {
    background-color: #2e69eb;
    color: #fff;
}

.lz-table-input {
    width: 100%;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: none;
    box-sizing: border-box;
    color: #2e69eb;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    line-height: 30px;
    outline: 0;
    padding: 0 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}


/* 统计价格栏 */

.lz-total {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}

.lz-total span {
    margin-left: 20px;
    color: #2e69eb;
}

.lz-total-btn {
    display: inline-block;
    float: right;
}

.lz-total-btn button {
    background-color: #ffffff;
    color: #2e69eb;
    border: 1px solid #2e69eb;
}


/* 单选框 */

.lz-RadioStyle input {
    display: none
}

.lz-RadioStyle label {
    border: 1px solid #dcdfe6;
    color: #000;
    padding: 2px 10px 2px 5px;
    line-height: 28px;
    min-width: 80px;
    text-align: center;
    float: left;
    margin: 2px;
    border-radius: 4px
}

.lz-RadioStyle input:checked+label {
    background-color: #2e60eb;
    color: #fff;
}

.lz-RadioStyle input:disabled+label {
    opacity: 0.7;
}


/* 垂直居中 */

.lz-center-vertically {
    display: flex;
    align-items: center;
}


/* 暂无数据提示 */

.lz-no-mess {
    margin: auto;
    font-size: 16px;
    color: #ccc;
}

.lz-lr-layout {
    display: flex;
}