<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>问诊系统</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<style>

</style>

<body>
    <div id="index">
        <div class="menu">
            <div class="logo">LOGO</div>
            <div class="menu-list">
                <ul>
                    <div class="menu-list-content">
                        <li onclick="toUrl(1)"><i class="fa fa-hospital-o"></i>
                            <h4>预约管理</h4>
                        </li>
                        <li onclick="toUrl(2)"><i class="fa fa-file-text-o"></i>
                            <h4>挂号</h4>
                        </li>
                        <li onclick="toUrl(3)"><i class="	fa fa-stethoscope"></i>
                            <h4>就诊</h4>
                        </li>
                        <li onclick="toUrl(4)"><i class="fa fa-shopping-bag"></i>
                            <h4>药物零售</h4>
                        </li>
                        <li onclick="toUrl(5)"><i class="fa fa-bar-chart"></i>
                            <h4>报表管理</h4>
                        </li>
                        <li onclick="toUrl(7)"><i class="fa fa-rmb"></i>
                            <h4>收费发药</h4>
                        </li>
                        <li onclick="toUrl(8)"><i class="fa fa-medkit"></i>
                            <h4>药品管理</h4>
                        </li>
                        <li onclick="toUrl(6)"><i class="fa fa-gear"></i>
                            <h4>设置</h4>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="head">
                <div class="name">网站名称</div>
                <div class="setting">
                    <span>登录</span>
                    <span>注册</span>
                </div>
            </div>
            <div class="browsing-history">
                <div class="tag-history is-select" onclick="toUrl(0)"><a><span>首页</span></a></div>
                <div class="tag-history" onclick="toUrl(1)"><a><span>预约管理</span><i class="fa fa-times" aria-hidden="true"></i></a></div>
                <div class="tag-history" onclick="toUrl(4)"><a><span>报表管理</span><i class="fa fa-times" aria-hidden="true"></i></a></div>
            </div>
            <div class="main-content">
                <iframe src="../appointment/appointment.html"></iframe>
            </div>
        </div>
    </div>
    <script src="../../js/common/jquery/jquery-2.2.4.js "></script>
    <script>
        // var home = "../home/home.html ";
        // var appointment = "../appointment/appointment.html ";
        // var medicalAd = "../medicalAd/medicalAd.html ";
        // var registration = "../registration/registration.html ";
        // var report = "../report/report.html ";
        // var retail = "../retail/retail.html ";
        // var set = "../set/set.html ";
        var url = ["../home/home.html ", "../appointment/appointment.html ", "../medicalAd/medicalAd.html ",
            "../registration/registration.html ", "../retail/retail.html ", "../report/report.html ",
            "../set/set.html ", "../charge/charge.html", "../medicine/medicine.html"
        ]

        function toUrl(id) {
            var str = '<iframe src=" ' + url[id] + ' "></iframe>'
            $(".main-content ").empty();
            $(".main-content ").append(str)
        }
    </script>
</body>

</html>