<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>外层框架</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<style>

</style>

<body>

    <div class="menu">
        <div class="logo">LOGO</div>
        <div class="menu-list">
            <ul>
                <div class="menu-list-content">
                    <li><i class="fa fa-home"></i>
                        <h4>首页</h4>
                    </li>
                    <li><i class="fa fa-hospital-o"></i>
                        <h4>预约管理</h4>
                    </li>
                    <li><i class="fa fa-file-text-o"></i>
                        <h4>挂号</h4>
                    </li>
                    <li><i class="	fa fa-stethoscope"></i>
                        <h4>就诊</h4>
                    </li>
                    <li><i class="fa fa-medkit"></i>
                        <h4>药物零售</h4>
                    </li>
                    <li><i class="fa fa-bar-chart"></i>
                        <h4>报表管理</h4>
                    </li>
                    <li><i class="fa fa-gear"></i>
                        <h4>设置</h4>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="head">
            <div class="setting">
                <span>登录</span>
                <span>注册</span>
            </div>
        </div>
        <div class="browsing-history">
            <div class="tag-history"><a><span>首页</span><i class="fa fa-times" aria-hidden="true"></i></a></div>
            <div class="tag-history"><a><span>预约管理</span><i class="fa fa-times" aria-hidden="true"></i></a></div>
            <div class="tag-history"><a><span>报表管理</span><i class="fa fa-times" aria-hidden="true"></i></a></div>
        </div>
        <div class="main-content">
            <iframe src="../home/home.html"></iframe>
        </div>
    </div>

    <script src="../../js/common/jquery/jquery-2.2.4.js"></script>
    <script>
        var home = "../home/home.html";
        var yuyue = "";
    </script>
</body>

</html>