html {
    overflow: hidden;
}

#appointment {
    height: calc(100% - 30px);
}

.appointment-content {
    margin-top: 10px;
    height: calc(100% - 50px);
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
}

.arrange-content {
    margin-top: 10px;
    height: calc(100% - 50px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-mess {
    min-width: 500px;
    flex: 4;
    border-right: 1px solid #ccc;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 20px;
}

.confirm {
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.confirm button {
    width: 100%;
}

.appointment-history {
    min-width: 1000px;
    flex: 10;
    width: calc(100% - 500px);
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px 0;
}