.register-main {
    width: 100%;
    height: 100%;
    background: url('../../static/img/login.png') no-repeat;
    background-size: 100% 100%;
}

.register-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
    height: 600px;
    background: #fff;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
}

.register-head {
    flex: 2;
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
}

.register-head h1 {
    color: #2e69eb;
}

.register-form {
    flex: 6;
    padding: 0 200px;
}

.register-btn button {
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
}

.register-foot {
    flex: 1;
    text-align: center;
    font-size: 15px;
}

.register-foot a {
    color: #2e69eb;
    cursor: pointer;
}

.get-phone-code {
    margin-left: 20px;
}

.get-phone-code button {
    padding: 7px 15px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #2e69eb;
    color: #2e69eb;
}

.get-phone-code button:active {
    background-color: #2e69eb;
    color: #fff;
}