<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/home/home.css">

</head>
<style>
    .statistic-box {
        padding: 2%;
    }
    
    .statistic-one {
        margin: 20px 0;
        display: inline-block;
        height: 400px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .15);
        border-radius: 10px;
        background-color: #F2F6FC;
        width: 100%;
    }
</style>

<body>
    <div id="home" class="lz-main">
        <div class="home-panel">
            <div class=" card-panel" style="background-color: #7ecfc0">
                <div class="card-panel-description">今日有效挂号（人次）
                    <label>5</label>
                </div>
            </div>
            <div class=" card-panel" style="background-color: #f6d365">
                <div class="card-panel-description">今日接诊（人次）
                    <label>10</label>
                </div>
            </div>
            <div class=" card-panel" style="background-color: #ec8f6a">
                <div class="card-panel-description">今日零售（元）
                    <label>1000</label>
                </div>
            </div>
            <div class=" card-panel" style="background-color: #ef4b4b">
                <div class="card-panel-description">今日营业（元）
                    <label>2000</label>
                </div>
            </div>
        </div>
        <div class="statistic-box">
            <div class="statistic-one">

            </div>
        </div>
    </div>
    <script src="../../js/common/jquery/jquery-2.2.4.js"></script>
    <script src="../../js/common/boostrap/bootstrap.min.js"></script>
    <script>
    </script>
</body>

</html>