<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>档案表</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/archives/archives.css">
</head>
<style>

</style>

<body>
    <div id="archives" class="lz-main">
        <div class="lz-form-head">
            青少年视力康复中心档案表
        </div>
        <div class="archices-main">
            <div class="am-left">
                <table>
                    <tr>
                        <td width="6%">姓名</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td width="6%">性别</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td width="6%">年龄</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td width="6%">学校</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="6%">身高</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td width="6%">体重</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td colspan="2">兴趣爱好</td>
                        <td colspan="2">
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="6%">家长姓名</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td width="6%">电话号码</td>
                        <td colspan="2">
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td>职业</td>
                        <td colspan="2">
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h2>调理视力情况</h2>
                        </td>
                    </tr>
                    <tr>
                        <td width="6%">是否佩戴眼镜</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td width="6%">佩戴眼镜度数</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td width="6%">佩戴时间</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                        <td width="6%">更换情况</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h2>视力及其他情况</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>青光眼</td>
                        <td>
                            <input autocomplete="off" type="checkbox">
                        </td>
                        <td>散光</td>
                        <td>
                            <input autocomplete="off" type="checkbox">
                        </td>
                        <td>近视</td>
                        <td>
                            <input autocomplete="off" type="checkbox">
                        </td>
                        <td>弱视</td>
                        <td>
                            <input autocomplete="off" type="checkbox">
                        </td>
                    </tr>
                    <tr>
                        <td>斜视</td>
                        <td>
                            <input autocomplete="off" type="checkbox">
                        </td>
                        <td>遗传</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="checkbox">
                        </td>
                        <td>眼干</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="checkbox">
                        </td>
                        <td>眼涩</td>
                        <td>
                            <input class="lz-table-input" autocomplete="off" type="checkbox">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="am-right">
                表格
            </div>
            <div class="am-buttom"></div>
        </div>
    </div>
    <script>
    </script>
</body>

</html>