<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <title>预约管理</title>
</head>
<style>
    #appointment {
        margin: 10px;
        border-radius: 5px;
        background-color: #fff;
        padding: 20px;
    }
    
    .appointment-content {
        border: 1px solid #ccc;
        margin-top: 20px;
    }
    
    .user-mess {
        height: 500px;
        width: 400px;
    }
</style>

<div id="appointment">
    <div class="btn-group">
        <button type="button" class="btn ">预约管理</button>
        <button type="button" class="btn ">排班管理</button>
    </div>
    <div class="appointment-content">
        <div class="user-mess"></div>
        <div class="appointment-history"></div>
    </div>
</div>

<body>

</body>

</html>