html {
    overflow: hidden;
}

body {
    background: #f1f1f1;
}

.home-panel {
    margin-bottom: 20px;
}

@media only screen and (min-width: 1300px) {
    .card-panel {
        width: 22.5%;
    }
}

@media only screen and (max-width: 1300px) {
    .card-panel {
        width: 47%;
        margin-top: 20px;
    }
}

.card-panel {
    margin-left: 2%;
    display: inline-block;
    height: 150px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .15);
    border-radius: 10px;
}

.card-panel-description {
    color: #fff;
    float: right;
    font-weight: 700;
    padding: 40px;
    font-size: 15px;
}

.card-panel-description label {
    margin-top: 5px;
    display: block;
    text-align: center;
    font-size: 30px;
}