html {
    overflow: hidden;
}

#medicalAd {
    height: calc(100% - 30px);
}

.medicalAd-head {
    padding: 10px;
}

.medicalAd-head-right {
    padding: 10px;
    margin-bottom: 10px;
    min-width: 795px;
}

.medicalAd-head-right h2 {
    float: left;
    margin-bottom: 20px;
}

.to-date .calendar-area {
    left: 40px;
}

@media only screen and (min-width: 1700px) {
    .medicalAd-head-right {
        height: 80px;
    }
    .me-head-form {
        width: 60%;
        float: right;
    }
}

@media only screen and (max-width: 1700px) {
    .medicalAd-head-right {
        height: auto;
    }
    .me-head-form {
        width: 740px;
        display: block;
    }
    .mh-title {
        display: block;
        height: 30px;
        margin-bottom: 20px;
    }
}

.me-head-form label {
    margin-left: 10px;
}

.me-head-search button {
    margin-left: 30px;
    height: 30px;
    padding: 5px 10px;
}

.medicalAd-content {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
}

.user-mess {
    min-width: 500px;
    flex: 4;
    border-right: 1px solid #ccc;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 20px;
}

.confirm {
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.confirm button {
    width: 100%;
}

.total {
    padding: 20px 10px;
}

.total label span button {
    display: inline-block;
}

.total label {
    font-size: 20px;
    color: #2e69eb;
    font-weight: 700;
}

.total span {
    margin-left: 20px;
    font-size: 14px;
}

.total button {
    float: right;
    height: 30px;
    font-size: 10px;
    padding: 8px 15px;
}

.medicalAd-history {
    flex: 10;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
}

.me-pers-content {
    padding: 0 10px;
}

.per-cord {
    width: 250px;
    height: 200px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ebeef5;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.per-cord:hover {
    box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, .1);
}

.per-cord-up {
    flex: 3;
    background-image: linear-gradient(135deg, rgb(67, 203, 255) 10%, rgb(151, 8, 204) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}

.per-up-left {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.per-img {
    flex: 2;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.per-name {
    text-align: center;
    color: #fff;
    font-size: 16px;
    flex: 1;
}

.per-type {
    text-align: center;
    background: rgba(0, 0, 0, .17);
    font-size: 13px;
    flex: 1;
    color: #fff!important;
    border-radius: 3px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    margin: 15px;
    padding-top: 3px;
}

.per-up-right {
    flex: 2;
    display: flex;
    flex-flow: column;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    padding-left: 0;
    box-sizing: border-box;
}

.per-up-right div {
    padding: 7px;
}

.cord-type {
    flex: 1;
    line-height: 1;
}

.cord-mess {
    flex: 1;
}

.cord-doc {
    flex: 1;
}

.cord-date {
    flex: 1;
}

.per-cord-down {
    flex: 1;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-flow: row;
}

.per-down-item {
    text-align: center;
    font-size: 12px;
    flex: 1;
    padding-top: 17px;
    color: #606266;
}

.per-down-item:hover {
    font-size: 15px;
    color: #2e69eb;
}