html {
    overflow: hidden;
}

#retail {
    display: flex;
}

.retail-left {
    flex: 9;
    border: 5px solid #f1f1f1;
    min-width: 900px;
    padding: 10px;
    overflow: auto;
}

.retail-right {
    flex: 2;
    min-width: 200px;
    display: flex;
    flex-flow: column;
    padding: 0 20px;
    padding: 0 20px;
    overflow: auto;
}

.re-content {
    flex: 1;
    min-height: 300px;
}

.re-detail {
    border: 1px solid #ccc;
    width: 100%;
    height: 80%;
}

.retail-total {
    border-top: 1px solid #ccc;
}

.retail-table {
    width: 100%;
    min-height: 695px;
}

.retail-total {
    padding: 20px;
}