body {
    overflow: hidden;
}

#report-tabs .ts-container {
    height: calc(100% - 40px);
}

#report-tabs .ts-content {
    height: 100%;
}

.operate-box {
    height: 100%;
}

.ob-condition {}

.op-left {
    flex: 1;
    margin-right: 20px;
    background-color: #f1f1f1;
    min-width: 140px;
}

.op-right {
    flex: 10;
    overflow: auto;
    padding-left: 5px;
}

.ob-condition {
    display: flex;
    flex-flow: column;
}

.obc-head {
    flex: 2;
    margin: 10px 0;
}

.obc-head button {
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 10px;
}

.obc-head .search-btn {
    margin-left: 20px;
}

.obc-cord-box {
    flex: 10;
    display: flex;
    min-height: 210px;
    margin-bottom: 20px;
}

.obcc-left {
    flex: 1;
    margin: 10px 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .15);
    border-radius: 12px;
    background-image: linear-gradient(135deg, rgb(67, 203, 255) 10%, rgb(151, 8, 204) 100%);
    ;
    display: flex;
}

.obccl-img {
    flex: 1;
}

.obccl-content {
    flex: 1.5;
    display: flex;
    flex-flow: column;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
}

.obccl-money {
    flex: 1;
    padding-top: 10px;
}

.obccl-money .money {
    float: right;
}

.obcc-right {
    flex: 1;
    margin: 10px;
    box-shadow: 4px 5px 9px 2px rgba(0, 0, 0, .15);
    border-radius: 12px;
    background-image: linear-gradient(135deg, rgb(67, 203, 255) 10%, rgb(151, 8, 204) 100%);
    display: flex;
}

.obccr-img {
    flex: 1;
}

.obccr-content {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
}

.obccr-per {
    flex: 1;
}

.obccrp-num {
    margin-top: 10px;
    color: black;
    margin-left: 20px;
}

.obc-report {
    flex: 10;
    min-height: 400px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .15);
    border-radius: 12px;
    margin-right: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 5px
}

.ob-clinic {}

.obch-date {
    width: 500px;
}

.obc-table {
    height: 400px;
    background-color: #F2F6FC;
    margin-right: 10px;
}

.patient-box {
    height: 100%;
}

.charge-box {
    height: 100%;
}

.medicine-box {
    height: 100%;
}